.conatainer {
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
}
.span {
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.displayCategory {
  color: #007bff;
  font-weight: 600;
}

@media (max-width: 768px) {
  .conatainer {
    place-items: baseline;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .tagCloud {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
